#chart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

#bar-container {
    width: 100%;
    /* margin-top: 50px; */
    margin-left: 100px;
    padding-top: 50px;
}

@media screen and (max-width: 880px) {
    #bar-container {
        margin: 10px 0;
        width: 100%;
    }
}