#profile-main {
    background-color: #5D1CDD;
    width: 100%;
    height: 14vh;
    margin: 0;
    border-radius: 0 0 0 50px;
}

#balance-container {
    width: 60%;
    height: 100%;
    background-color: black;
    border-radius: 0 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#balance-heading {
    margin: 0;
    color: white;
    font-size: 10px;
    font-weight: 150;
}

#total {
    font-weight: bold;
    font-size: 25px;
    color: white;
    margin: 0;
}