.transaction-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 20px;
    /* background-color: #F1F4FF; */
    width: 100%;
    margin: 0;
}


.transaction-image {
    width: 30px;
    height: 30px;
}

.title-price {
    display: flex;
    flex-direction: column;
}

.title-price p {
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
}

.price {
    font-weight: bold;
}

.date-time {
    display: flex;
    flex-direction: column;
    color: grey;
}

.date-time p {
    font-size: 12px;
    padding: 0 10px;
    margin: 0;
}

@media screen and (max-width: 880px) {
    .transaction-main {
        width: 100%;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
    }

}