#transactions-main {
    margin: 0;
    height: 97vh;
    width: 100%;
    background-color: #F7FBFE;
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* box-sizing: border-box; */
}

#transaction-title {
    text-align: center;
}

@media screen and (max-width: 880px) {

        #transactions-main {
            height: 100%;
            width: 100%;
            margin: 0 auto;
            padding: 25px;
        }
        
    }